<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% for i in scraps %}
    <table>


        <tr>
            <th>{{ i.title }}</th>
        </tr>

        <tr>
            <td>
                <img src="{{ i.image }}">
            </td>
        </tr>

        <tr>
            <td>{{ i.news }}</td>
        </tr>
    </table>
    <br>

{% endfor %}

</body>

</html>